* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

nav{
    height: 10vh;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.0em;
    padding-left: 15px;
    padding-top: 20px;
}


main{
    color: white;
    background: linear-gradient(rgb(2, 118, 251), rgb(164, 6, 255));
    font-family: 'Ubuntu', sans-serif;
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

form{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 30px;  
}

button{
    background-color: #ffffff; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

h1{
    font-size: 4em;
    color: rgb(0, 0, 0)
}

.io{
    margin-top: 3px;
}

p{
    margin-top:50px;
    margin-bottom: 10px;
    font-size: 25px;
    color:rgb(0, 0, 0);
}

a{
    text-decoration:none;
    color:white;
    display:inline-block;
    position:absolute;
    right: 5em;
}

.link{
    text-decoration:none;
    color:white;
    display:inline-block;
    position:absolute;
    right: 10em;
}

.ciao{
    display:inline;
    margin-left:10px;
}

h3{
    display:inline-block;
    position:absolute;
    left:2em;
}


button:hover{
    background-color: #ffffff; /* Green */
    border: 1px black solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}